{{ define "main" }}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 240, 240, 1);
    padding-bottom: 3rem;
  }

  p {
    font-family: "Roboto";
    text-align: center;
  }

  h1 {
    font-family: "Impact";
    font-weight: 500;
    color: #fcfcfc;
    -webkit-text-stroke-color: rgba(69, 172, 219, 1);
    -webkit-text-stroke-width: 3px;
    font-size: 64px;
    padding-top: 32px;
    text-align: center;
  }

  h1 img {
    height: 44px;
  }

  h1 strong {
    color: #fed154;
    -webkit-text-stroke-width: 1px;
  }

  .contact-form {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    width: 40vw;
    padding: 32px;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 1);
  }

  .name,
  .email {
    display: inline-block;
    width: 17.7vw;
  }

  .name input,
  .email input,
  .message textarea {
    font-family: "Roboto";
    border: 1px solid rgba(198, 204, 202, 1);
    background-color: rgba(240, 240, 240, 1);
  }

  .contact-form .form-image {
    width: 550px;
    height: 550px;
    /* padding: 32px; */
  }

  label {
    font-family: "Roboto";
    font-weight: 500;
    line-height: 21.09px;
  }

  .message label {
    margin-top: 1rem;
  }

  .not-robot {
    padding: 16px;
    border: 1px solid rgba(30, 35, 41, 1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin: 2rem 0;
  }

  .form-check-input {
    margin-right: 10px;
  }

  button {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 6px;
    font-weight: 500;
    width: 100%;
    border: 2px solid black;
    background-color: rgba(244, 179, 1, 1);
  }

  button img {
    margin-left: 5px;
    width: 10px;
    height: 10px;
  }

  .single-line {
    height: auto;
    display: flex;
    align-items: center;
  }

  .email {
    padding-left: 16px;
  }

  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 32px;
      -webkit-text-stroke-width: 2px;
    }

    .contact-form {
      flex-direction: column;
    }

    .contact-form .form-image {
      width: 400px;
      height: 400px;
      padding: 32px;
    }

    .contact-form {
      width: 90vw;
      margin-bottom: 3rem;
    }

    form {
      width: inherit;
    }

    .name,
    .email {
      width: 100%;
    }

    .email label {
      padding-top: 16px;
    }

    .email {
      margin-bottom: 0.998rem;
    }
  }

  @media only screen and (min-width: 700px) and (max-width: 1000px) {
    .contact-form .form-image {
      height: 35vh;
    }
  }
</style>
<div class="main">
  <h1>
    <img src="/images/light.png" alt="light" />CONTACT <strong>US</strong
    ><img src="/images/light.png" alt="light" />
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur. Ornare at urna pulvinar urna aliquam
    vitae diam dignissim. Commodo egestas sagittis amet mauris nisi
  </p>
  <!-- Contact Us Form -->
  <div class="contact-form">
    <img class="form-image" src="/images/contact.png" alt="" />
    <div class="container">
      <form action="/submit" method="post">
        <!-- Name field -->
        <div class="single-line">
          <div class="name">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter name"
              required
            />
          </div>

          <!-- Email field -->
          <div class="email">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email"
              required
            />
          </div>
        </div>

        <!-- Message textarea -->
        <div class="message">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="5"
            placeholder="Enter your message"
            required
          ></textarea>
        </div>

        <!-- Not a robot checkbox -->
        <div class="not-robot">
          <input
            type="checkbox"
            class="form-check-input"
            id="notRobot"
            required
          />
          <label class="form-check-label" for="notRobot">I'm not a robot</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="form-submit">
          SEND
          <img
            class="button-img"
            src="/images/play-button-arrowhead.png"
            alt="send"
          />
        </button>
      </form>
    </div>
  </div>
</div>
{{ end }}
