{{ define "main" }}
<style>

</style>
<div class="container my-5">
    <!-- Start of the row -->
    <div class="row">
        <!-- First column -->
        <div class="col-md-6">
            <p>Awaken the inovation within</p>
        </div>
        <div class="col-md-6">
            <p>Some image here</p>
        </div>
    </div>
    <div class="row">
        <p>
            featured game last pup standing
        </p>
    </div>
    <div class="row">
        <p>HOW WE OPERATE</p>
        <div class="col-md-4">
            <p>Think Fast</p>
        </div>
        <div class="col-md-4">
            <p>Code Fast</p>
        </div>
        <div class="col-md-4">
            <p>Fail Fast</p>
        </div>
    </div>
    <div class="row">
        <p>Our Blog</p>
        <div class="col-md-6">
            <p>Blog 1</p>
        </div>
        <div class="col-md-6">
            <p>Blog 2</p>
        </div>
        <div class="col-md-6">
            <p>Blog 3</p>
        </div>
        <div class="col-md-6">
            <p>Blog 4</p>
        </div>
        <a type="button" class="btn btn-primary" href="blogs">See more</a>
    </div>
</div>
{{ end }}
