{{ define "main" }}
<style>
  .blog-list-image {
    height: 38vh;
    background-color: rgb(252, 252, 252, 1);
    box-shadow: 0 10px 12px rgba(228, 228, 228, 1);
    border-radius: 12px;
  }

  h1 {
    font-family: "Impact";
    font-weight: 500;
    color: #fcfcfc;
    -webkit-text-stroke-color: rgba(69, 172, 219, 1);
    -webkit-text-stroke-width: 3px;
    font-size: 64px;
    padding: 32px 0;
    text-align: center;
  }

  h1 img {
    height: 44px;
  }

  h1 strong {
    color: #fed154;
    -webkit-text-stroke-width: 1px;
  }
  .blog {
    display: flex;
    padding: 32px 32px 128px 15vw;
  }

  .blog,
  nav,
  h1 {
    background-color: rgba(240, 240, 240, 1);
    margin: 0;
  }

  .blog .blog-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3rem;
  }

  .blog-details .information h2 {
    color: rgba(69, 172, 219, 1);
    font-size: 24px;
    line-height: 28.8px;
  }

  .blog .information .date,
  .blog .information .desciption {
    font-size: 16px;
    color: rgba(42, 47, 53, 1);
  }

  .official {
    border: 3px solid rgba(69, 172, 219, 1);
    border-radius: 12px;
    padding: 16px 32px;
    text-decoration: none;
    color: rgba(69, 172, 219, 1);
    margin-right: 1rem;
    font-weight: 500;
  }

  .share-blogs {
    color: rgba(69, 172, 219, 1);
    margin-left: 1rem;
    font-weight: 500;
  }

  .official img {
    height: 16px;
    margin-left: 5px;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  li {
    padding: 10px 10px 75px 10px;
  }

  .page-item.active .page-link {
    background-color: rgba(240, 240, 240, 1);
    color: #fed154;
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #fed154;
    border: none;
  }

  .page-link,
  .page-item.disabled .page-link {
    font-size: 24px;
    position: relative;
    display: block;
    color: rgba(69, 172, 219, 1);
    text-decoration: none;
    background-color: transparent;
    border: none;
  }
</style>
<h1>
  <img src="/images/light.png" alt="light" />BLOG <strong>POSTS</strong
  ><img src="/images/light.png" alt="light" />
</h1>

{{ $paginator := .Paginate (where .Data.Pages "Section" "blogs") }} {{ range
$paginator.Pages }}
<div class="blog">
  <img class="blog-list-image" src="{{ .Params.image }}" alt="{{ .Title }}" />
  <div class="blog-details">
    <div class="information">
      <p class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <h2>{{ .Title }}</h2>
      <p class="description">{{ .Description }}</p>
    </div>
    <div class="buttons">
      <a class="official" href="{{ .RelPermalink }}">READ MORE</a>
      <a class="share-blogs" href="/">SHARE PAGE</a>
    </div>
  </div>
</div>
{{ end }}

<!-- Pagination Links -->
<nav aria-label="Page navigation">
  <ul class="pagination">
    {{ if .Paginator.HasPrev }}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ .Paginator.Prev.URL }}"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{ else }}
    <li class="page-item disabled">
      <span class="page-link">&laquo;</span>
    </li>
    {{ end }} {{ $paginator := .Paginator }} {{ range $index, $page :=
    $paginator.Pagers }}
    <li
      class="page-item{{ if eq $paginator.PageNumber (add $index 1)}} active{{ end }}"
    >
      <a class="page-link" href="{{ $page.URL }}">{{ add $index 1 }}</a>
    </li>
    {{ end }} {{ if .Paginator.HasNext }}
    <li class="page-item">
      <a class="page-link" href="{{ .Paginator.Next.URL }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {{ else }}
    <li class="page-item disabled">
      <span class="page-link">&raquo;</span>
    </li>
    {{ end }}
  </ul>
</nav>

{{ end }}
